<footer class="footer" style="background-color: #CCCCCC;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Proyecto sobre Observables</h4>
                <p>Proyecto realizado para T-Systems Iberia en Marzo de 2020</p>
            </div>
            <div class="col-md-6">
                <h4>Realizado por:</h4>
                <ul>
                    <li>Juan Antonio</li>
                    <li>Enrique Avivar</li>
                    <li>Dani</li>
                    <li>Lluis</li>
                    <li>Isaac Martínez</li>
                </ul>

            </div>
        </div>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>

</footer>