<footer class="footer" style="background-color: #CCCCCC;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h5>Proyecto sobre Observables</h5>
                <p>Proyecto realizado para T-Systems Iberia en Marzo de 2020</p>
            </div>
            <div class="col-md-3">
                <h5>Realizado por:</h5>
                <ul>
                    <li>Juan Antonio</li>
                    <li>Enrique Avivar</li>
                    <li>Daniel Gonfaus</li>
                    <li>Lluís Alegret</li>
                    <li>Isaac Martínez</li>
                </ul>

            </div>
        </div>
        <p>
            <a href="#">Volver arriba</a>
        </p>
    </div>

</footer>