<div id="uso-basico">
    <h2>Uso básico</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue tempus mi ut faucibus. Suspendisse ornare velit tortor, at convallis nulla ultrices ac. Ut faucibus iaculis molestie. Morbi egestas enim id dolor aliquam dapibus. Nulla vitae risus
        lorem. Nam semper nisl ex, in porttitor eros sagittis id. Etiam scelerisque dolor urna, ac feugiat eros fringilla ut. Aliquam sollicitudin nunc vel diam hendrerit, sed accumsan lorem semper. Maecenas sit amet lorem tempus, volutpat nulla eget,
        gravida sem. Sed vel malesuada eros. Integer dignissim convallis justo, sed volutpat metus blandit ac. Phasellus nec tempor libero. Aenean quis ultricies diam.
    </p>
    <p>
        Fusce metus mi, aliquam sit amet tristique vitae, sagittis a tortor. Nam placerat justo ut dictum lacinia. Curabitur non neque ac diam auctor tristique. Sed rutrum justo nulla, eget euismod nisl iaculis vel. Donec lobortis magna elit, eget euismod tortor
        aliquet ac. Fusce congue turpis dui, eu suscipit dui convallis id. Ut pulvinar faucibus augue, id porttitor ante pharetra eget.
    </p>
</div>

<div id="definicion">
    <h2>Definiciones de observables</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue tempus mi ut faucibus. Suspendisse ornare velit tortor, at convallis nulla ultrices ac. Ut faucibus iaculis molestie. Morbi egestas enim id dolor aliquam dapibus. Nulla vitae risus
        lorem. Nam semper nisl ex, in porttitor eros sagittis id. Etiam scelerisque dolor urna, ac feugiat eros fringilla ut. Aliquam sollicitudin nunc vel diam hendrerit, sed accumsan lorem semper. Maecenas sit amet lorem tempus, volutpat nulla eget,
        gravida sem. Sed vel malesuada eros. Integer dignissim convallis justo, sed volutpat metus blandit ac. Phasellus nec tempor libero. Aenean quis ultricies diam.
    </p>
    <p>
        Fusce metus mi, aliquam sit amet tristique vitae, sagittis a tortor. Nam placerat justo ut dictum lacinia. Curabitur non neque ac diam auctor tristique. Sed rutrum justo nulla, eget euismod nisl iaculis vel. Donec lobortis magna elit, eget euismod tortor
        aliquet ac. Fusce congue turpis dui, eu suscipit dui convallis id. Ut pulvinar faucibus augue, id porttitor ante pharetra eget.
    </p>
</div>

<div id="suscripcion">
    <h2>Suscripción</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue tempus mi ut faucibus. Suspendisse ornare velit tortor, at convallis nulla ultrices ac. Ut faucibus iaculis molestie. Morbi egestas enim id dolor aliquam dapibus. Nulla vitae risus
        lorem. Nam semper nisl ex, in porttitor eros sagittis id. Etiam scelerisque dolor urna, ac feugiat eros fringilla ut. Aliquam sollicitudin nunc vel diam hendrerit, sed accumsan lorem semper. Maecenas sit amet lorem tempus, volutpat nulla eget,
        gravida sem. Sed vel malesuada eros. Integer dignissim convallis justo, sed volutpat metus blandit ac. Phasellus nec tempor libero. Aenean quis ultricies diam.
    </p>
    <p>
        Fusce metus mi, aliquam sit amet tristique vitae, sagittis a tortor. Nam placerat justo ut dictum lacinia. Curabitur non neque ac diam auctor tristique. Sed rutrum justo nulla, eget euismod nisl iaculis vel. Donec lobortis magna elit, eget euismod tortor
        aliquet ac. Fusce congue turpis dui, eu suscipit dui convallis id. Ut pulvinar faucibus augue, id porttitor ante pharetra eget.
    </p>
</div>

<div id="crear-observables">
    <h2>Crear observables</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue tempus mi ut faucibus. Suspendisse ornare velit tortor, at convallis nulla ultrices ac. Ut faucibus iaculis molestie. Morbi egestas enim id dolor aliquam dapibus. Nulla vitae risus
        lorem. Nam semper nisl ex, in porttitor eros sagittis id. Etiam scelerisque dolor urna, ac feugiat eros fringilla ut. Aliquam sollicitudin nunc vel diam hendrerit, sed accumsan lorem semper. Maecenas sit amet lorem tempus, volutpat nulla eget,
        gravida sem. Sed vel malesuada eros. Integer dignissim convallis justo, sed volutpat metus blandit ac. Phasellus nec tempor libero. Aenean quis ultricies diam.
    </p>
    <p>
        Fusce metus mi, aliquam sit amet tristique vitae, sagittis a tortor. Nam placerat justo ut dictum lacinia. Curabitur non neque ac diam auctor tristique. Sed rutrum justo nulla, eget euismod nisl iaculis vel. Donec lobortis magna elit, eget euismod tortor
        aliquet ac. Fusce congue turpis dui, eu suscipit dui convallis id. Ut pulvinar faucibus augue, id porttitor ante pharetra eget.
    </p>
</div>

<div id="multidifusion">
    <h2>Multidifusión</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue tempus mi ut faucibus. Suspendisse ornare velit tortor, at convallis nulla ultrices ac. Ut faucibus iaculis molestie. Morbi egestas enim id dolor aliquam dapibus. Nulla vitae risus
        lorem. Nam semper nisl ex, in porttitor eros sagittis id. Etiam scelerisque dolor urna, ac feugiat eros fringilla ut. Aliquam sollicitudin nunc vel diam hendrerit, sed accumsan lorem semper. Maecenas sit amet lorem tempus, volutpat nulla eget,
        gravida sem. Sed vel malesuada eros. Integer dignissim convallis justo, sed volutpat metus blandit ac. Phasellus nec tempor libero. Aenean quis ultricies diam.
    </p>
    <p>
        Fusce metus mi, aliquam sit amet tristique vitae, sagittis a tortor. Nam placerat justo ut dictum lacinia. Curabitur non neque ac diam auctor tristique. Sed rutrum justo nulla, eget euismod nisl iaculis vel. Donec lobortis magna elit, eget euismod tortor
        aliquet ac. Fusce congue turpis dui, eu suscipit dui convallis id. Ut pulvinar faucibus augue, id porttitor ante pharetra eget.
    </p>
</div>