<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand color-mag">Observables</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item"><a class="nav-link" href="#uso-basico">Uso básico</a></li>
            <li class="nav-item"><a class="nav-link" href="#definicion">Definicion</a></li>
            <li class="nav-item"><a class="nav-link" href="#suscripcion">Suscripcion</a></li>
            <li class="nav-item"><a class="nav-link" href="#crear-observables">Crear observables</a></li>
            <li class="nav-item"><a class="nav-link" href="#multidifusion">Multidifusion</a></li>
            <li class="nav-item"><a class="nav-link" href="#ejemplos">Ejemplos de implementación</a></li>

        </ul>
    </div>
</nav>