<!-- Import del navbar -->
<app-navbar-component></app-navbar-component>

<!-- Header -->
<app-header-component></app-header-component>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="header">

    </div>

    <div class="container">

        <div class="row">
            <div class="col-9">
                <app-mainContent-component></app-mainContent-component>
            </div>
            <div class="col-3">
                <app-sideContent-component></app-sideContent-component>
            </div>
        </div>
    </div>

</body>

</html>