<div class="jumbotron bg">
    <h1 class="display-4 font-custom-2">Proyecto Observables</h1>
    <p class="lead  font-custom-1">En este proyecto vamos a comenzar una nueva etapa en nuestro conocimiento de Angular, dedicando tiempo para una primera aproximación a los "observables", que son una de las principales novedades del framework a partir de Angular 2.</p>
    <hr class="my-4">
    <p class=" font-custom-1">Los observables representan también una de las mejores formas de optimizar una aplicación, aumentando su rendimiento.</p>
    <p class="font-custom-3 text-right mr-5">Vamos a ello!</p>
</div>